In [2]:
import os

import pandas as pd

In [3]:
web_stats = {'Day': [1,2,3,4,5,6], 'Visitors': [43, 33, 56, 67, 32, 19], 'Bounce_Rate': [65,73,62,64, 54,66]}

In [4]:
df = pd.DataFrame(web_stats)

In [5]:
print (df)

   Bounce_Rate  Day  Visitors
0           65    1        43
1           73    2        33
2           62    3        56
3           64    4        67
4           54    5        32
5           66    6        19

In [27]:
# print (df.head())
df.head()

   Bounce_Rate  Day  Visitors
0           65    1        43
1           73    2        33
2           62    3        56
3           64    4        67
4           54    5        32

In [28]:
#print (df.tail(2))
df.tail(2)

   Bounce_Rate  Day  Visitors
4           54    5        32
5           66    6        19

In [11]:
df.ix[['Day']]

     Bounce_Rate  Day  Visitors
Day          NaN  NaN       NaN

In [12]:
df.set_index('Day')

     Bounce_Rate  Visitors
Day
1             65        43
2             73        33
3             62        56
4             64        67
5             54        32
6             66        19

In [13]:
df.head()

   Bounce_Rate  Day  Visitors
0           65    1        43
1           73    2        33
2           62    3        56
3           64    4        67
4           54    5        32

In [17]:
# Ref one column
df ["Visitors"]

0    43
1    33
2    56
3    67
4    32
5    19
Name: Visitors, dtype: int64

In [18]:
df.Visitors

0    43
1    33
2    56
3    67
4    32
5    19
Name: Visitors, dtype: int64

In [19]:
# Ref two columns
df[['Bounce_Rate','Visitors']]

   Bounce_Rate  Visitors
0           65        43
1           73        33
2           62        56
3           64        67
4           54        32
5           66        19

In [21]:
# convert to a list
df.Visitors.tolist()

[43, 33, 56, 67, 32, 19]

In [26]:
# you can't convert two atributes into a list. you have to import np
# to make an array
df[['Bounce_Rate','Visitors']].tolist() # it won't work
#np.array(df[['Bounce_Rate','Visitors']])

AttributeError: 'DataFrame' object has no attribute 'tolist'

In [30]:
df.Visitors.mean()

41.666666666666664