# DS-SF-27 | Unit Project 1: Research Design Write-Up

In this first unit project you will create a framework to scope out data science projects.  This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

## Part A.  Evaluate the following problem statement:

> "Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and `activity score 1 = active user`, `0 = inactive user`) based on Hooli data from January-April 2015."

> ### Question 1.  What is the outcome?

Answer: To determine which customer segment/demographic is most likely to be target to became a payed customer.

> ### Question 2.  What are the predictors/covariates?

Answer:demographic data (age,gender,location,and profession) and usage data (days since login, and activity score 1= active user, 0 = inactive user

> ### Question 3.  What timeframe is this data relevent for?

Answer: January-April 2015

> ### Question 4.  What is the hypothesis?

Answer:Demographic and usage data will allow to predict which costumer to will become a payed customer.

## Part B.  Let's start exploring our UCLA dataset and answer some simple questions:

In [1]:
import os
import pandas as pd

df = pd.read_csv(os.path.join('..', '..', 'dataset', 'ucla-admissions.csv'))

df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

> ### Question 5.  Create a data dictionary.

Answer: (Use the template below)

Variable | Description | Type of Variable
---|---|---
Var 1 | 0 = Not thing, 1 = Thing | Categorical
Var 2 | Thing in unit X | Continuous

We would like to explore the association between X and Y.

Variable | Description | Type_of_Variable
---| ---| ---
Admit | Admission |0- yes, 1- no| categorical
GPA | integer | continuous
GRE | integer| continuous
Prestige | 1- School_1, 2- School_2, 3-School_3, 4-School_4, 5-Others | categorical

> ### Question 6.  What is the outcome?

Answer: Student admission based on GPA,GRE scores and prestige of school.

In [5]:
df.shape

(400, 4)

In [6]:
df.columns

Index([u'admit', u'gre', u'gpa', u'prestige'], dtype='object')

In [7]:
df.gre.unique()

array([ 380.,  660.,  800.,  640.,  520.,  760.,  560.,  400.,  540.,
        700.,  440.,  480.,  780.,  360.,  500.,  600.,  680.,  620.,
        580.,  460.,  740.,  300.,  720.,  340.,  420.,   nan,  220.])

In [8]:
df.gpa.unique()

array([ 3.61,  3.67,  4.  ,  3.19,  2.93,  3.  ,  2.98,  3.08,  3.39,
        3.92,  3.22,  3.44,  3.87,  2.56,  3.75,  3.81,  3.17,  3.63,
        2.82,  3.35,  3.66,  3.74,  3.29,  3.78,  3.4 ,  3.14,  3.05,
        3.25,  2.9 ,  3.13,  2.68,  2.42,  3.32,  3.15,  3.31,  2.94,
        3.45,  3.46,  2.97,  2.48,  3.86,  3.37,  3.27,  3.34,  3.65,
        3.18,  3.85,  3.59,  3.62,  3.3 ,  3.69,  3.73,  2.92,  3.36,
        3.12,  3.07,  2.71,  2.91,  3.6 ,  3.48,  3.28,  3.83,  3.64,
        3.9 ,  3.33,  3.52,  3.57,  2.88,  3.94,  3.95,  3.56,  3.41,
        3.84,  3.99,  3.72,  3.7 ,  2.67,  2.85,  3.88,  3.38,  3.54,
        2.79,  2.95,  3.58,  3.93,  3.43,  2.86,  2.52,  3.49,  3.82,
        3.5 ,  2.73,  3.24,  3.77,  3.51,  2.81,  3.53,  2.62,  3.23,
        3.01,   nan,  3.76,  3.47,  3.2 ,  3.89,  3.8 ,  3.16,  3.02,
        2.87,  3.42,  2.76,  2.96,  3.04,  3.91,  3.21,  3.55,  3.11,
        3.1 ,  2.26,  2.78,  3.97,  2.55,  3.98,  2.83,  2.84,  3.71,
        2.69,  2.7 ,  3.09,  2.65,  3.06,  3.03,  2.63])

In [9]:
df.admit.unique()

array([0, 1])

In [10]:
df.prestige.unique()

array([  3.,   1.,   4.,   2.,  nan])

In [11]:
df.corr()

             admit       gre       gpa  prestige
admit     1.000000  0.182919  0.175952 -0.241355
gre       0.182919  1.000000  0.382408 -0.124533
gpa       0.175952  0.382408  1.000000 -0.059031
prestige -0.241355 -0.124533 -0.059031  1.000000

In [15]:
df [ [0,1,2]]

     admit    gre   gpa
0        0  380.0  3.61
1        1  660.0  3.67
2        1  800.0  4.00
3        1  640.0  3.19
4        0  520.0  2.93
5        1  760.0  3.00
6        1  560.0  2.98
7        0  400.0  3.08
8        1  540.0  3.39
9        0  700.0  3.92
10       0  800.0  4.00
11       0  440.0  3.22
12       1  760.0  4.00
13       0  700.0  3.08
14       1  700.0  4.00
15       0  480.0  3.44
16       0  780.0  3.87
17       0  360.0  2.56
18       0  800.0  3.75
19       1  540.0  3.81
20       0  500.0  3.17
21       1  660.0  3.63
22       0  600.0  2.82
23       0  680.0  3.19
24       1  760.0  3.35
25       1  800.0  3.66
26       1  620.0  3.61
27       1  520.0  3.74
28       1  780.0  3.22
29       0  520.0  3.29
..     ...    ...   ...
370      1  540.0  3.77
371      1  680.0  3.76
372      1  680.0  2.42
373      1  620.0  3.37
374      0  560.0  3.78
375      0  560.0  3.49
376      0  620.0  3.63
377      1  800.0  4.00
378      0  640.0  3.12
379      0  540.0  2.70
380      0  700.0  3.65
381      1  540.0  3.49
382      0  540.0  3.51
383      0  660.0  4.00
384      1  480.0  2.62
385      0  420.0  3.02
386      1  740.0  3.86
387      0  580.0  3.36
388      0  640.0  3.17
389      0  640.0  3.51
390      1  800.0  3.05
391      1  660.0  3.88
392      1  600.0  3.38
393      1  620.0  3.75
394      1  460.0  3.99
395      0  620.0  4.00
396      0  560.0  3.04
397      0  460.0  2.63
398      0  700.0  3.65
399      0  600.0  3.89

[400 rows x 3 columns]

In [26]:
df.admit == 1

0      False
1       True
2       True
3       True
4      False
5       True
6       True
7      False
8       True
9      False
10     False
11     False
12      True
13     False
14      True
15     False
16     False
17     False
18     False
19      True
20     False
21      True
22     False
23     False
24      True
25      True
26      True
27      True
28      True
29     False
       ...
370     True
371     True
372     True
373     True
374    False
375    False
376    False
377     True
378    False
379    False
380    False
381     True
382    False
383    False
384     True
385    False
386     True
387    False
388    False
389    False
390     True
391     True
392     True
393     True
394     True
395    False
396    False
397    False
398    False
399    False
Name: admit, dtype: bool

In [ ]:
# I'd like to find the max gpa and gre when admit is 0 and 1 but I run out of time.

> ### Question 7.  What are the predictors/covariates?

Answer:GPA, GRE, prestige and admission

> ### Question 8.  What timeframe is this data relevent for?

Answer: no timeframe in the dataframe

> ### Question 9.  What is the hypothesis?

Answer: Higher GPA and GRE will allow a student to be accepted in a prestige school. Depending on the score it might be possible to select which school among the list.

> ### Question 10.  What's the problem statement?

> Using your answers to the above questions, write a well-formed problem statement.

Answer: We have a list of four schools fo college and graduate school. We use the student GPA and GRE score to select those who will be admited and which school. There will be a threshold of GPA & GRE score where the student won't be accepted to the schools in the list.

## Part C.  Create an exploratory analysis plan by answering the following questions:

Because the answers to these questions haven't yet been covered in class yet, this section is optional.  This is by design.  By having you guess or look around for these answers will help make sense once we cover this material in class.  You will not be penalized for wrong answers but we encourage you to give it a try!

> ### Question 11. What are the goals of the exploratory analysis?

Answer:

> ### Question 12.  What are the assumptions of the distribution of data?

Answer:

> ### Question 13.  How will determine the distribution of your data?

Answer:

> ### Question 14.  How might outliers impact your analysis?

Answer:

> ### Question 15.  How will you test for outliers?

Answer:

> ### Question 16.  What is colinearity?

Answer:

> ### Question 17.  How will you test for covariance?

Answer:

> ### Question 18.  What is your exploratory analysis plan?

> Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis one year from now.

Answer: