# DS-SF-27 | Unit Project 1: Research Design Write-Up

In this first unit project you will create a framework to scope out data science projects.  This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

## Part A.  Evaluate the following problem statement:

> "Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and `activity score 1 = active user`, `0 = inactive user`) based on Hooli data from January-April 2015."

> ### Question 1.  What is the outcome?

> ### Question 2.  What are the predictors/covariates?

Answer:

> ### Question 3.  What timeframe is this data relevent for?

Answer:

> ### Question 4.  What is the hypothesis?

Answer:

## Part B.  Let's start exploring our UCLA dataset and answer some simple questions:

In [23]:
import os
import pandas as pd

df = pd.read_csv(os.path.join('..', '..', 'dataset', 'ucla-admissions.csv'))

df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

In [24]:
df.shape

(400, 4)

In [25]:
type(df)

pandas.core.frame.DataFrame

In [26]:
df.columns

Index([u'admit', u'gre', u'gpa', u'prestige'], dtype='object')

In [27]:
df.gre.unique()

array([ 380.,  660.,  800.,  640.,  520.,  760.,  560.,  400.,  540.,
        700.,  440.,  480.,  780.,  360.,  500.,  600.,  680.,  620.,
        580.,  460.,  740.,  300.,  720.,  340.,  420.,   nan,  220.])

In [28]:
df.gpa.unique()

array([ 3.61,  3.67,  4.  ,  3.19,  2.93,  3.  ,  2.98,  3.08,  3.39,
        3.92,  3.22,  3.44,  3.87,  2.56,  3.75,  3.81,  3.17,  3.63,
        2.82,  3.35,  3.66,  3.74,  3.29,  3.78,  3.4 ,  3.14,  3.05,
        3.25,  2.9 ,  3.13,  2.68,  2.42,  3.32,  3.15,  3.31,  2.94,
        3.45,  3.46,  2.97,  2.48,  3.86,  3.37,  3.27,  3.34,  3.65,
        3.18,  3.85,  3.59,  3.62,  3.3 ,  3.69,  3.73,  2.92,  3.36,
        3.12,  3.07,  2.71,  2.91,  3.6 ,  3.48,  3.28,  3.83,  3.64,
        3.9 ,  3.33,  3.52,  3.57,  2.88,  3.94,  3.95,  3.56,  3.41,
        3.84,  3.99,  3.72,  3.7 ,  2.67,  2.85,  3.88,  3.38,  3.54,
        2.79,  2.95,  3.58,  3.93,  3.43,  2.86,  2.52,  3.49,  3.82,
        3.5 ,  2.73,  3.24,  3.77,  3.51,  2.81,  3.53,  2.62,  3.23,
        3.01,   nan,  3.76,  3.47,  3.2 ,  3.89,  3.8 ,  3.16,  3.02,
        2.87,  3.42,  2.76,  2.96,  3.04,  3.91,  3.21,  3.55,  3.11,
        3.1 ,  2.26,  2.78,  3.97,  2.55,  3.98,  2.83,  2.84,  3.71,
        2.69,  2.7 ,  3.09,  2.65,  3.06,  3.03,  2.63])

In [29]:
df.corr()

             admit       gre       gpa  prestige
admit     1.000000  0.182919  0.175952 -0.241355
gre       0.182919  1.000000  0.382408 -0.124533
gpa       0.175952  0.382408  1.000000 -0.059031
prestige -0.241355 -0.124533 -0.059031  1.000000

In [30]:
df.admit.unique()

array([0, 1])

In [8]:
df = df.set_index('admit')

In [9]:
df.head()

         gre   gpa  prestige
admit
0      380.0  3.61       3.0
1      660.0  3.67       3.0
1      800.0  4.00       1.0
1      640.0  3.19       4.0
0      520.0  2.93       4.0

In [10]:
df.columns

Index([u'gre', u'gpa', u'prestige'], dtype='object')

In [11]:
df.shape[1]

3

In [18]:
df.prestige.unique()

array([  3.,   1.,   4.,   2.,  nan])

In [21]:
df.admit.unique()

AttributeError: 'DataFrame' object has no attribute 'admit'

> ### Question 5.  Create a data dictionary.

Answer: (Use the template below)

Variable | Description | Type of Variable
---|---|---
Var 1 | 0 = Not thing, 1 = Thing | Categorical
Var 2 | Thing in unit X | Continuous

In [15]:
Variable | Description | Type of Variable
---|---|---
Var 1 | 0 = Not thing, 1 = Thing | Categorical
Var 2 | Thing in unit X | Continuous

SyntaxError: invalid syntax (<ipython-input-15-a4168a8f0734>, line 1)

In [19]:
Variable | Description | Type_of_Variable
---| ---| ---
Admit | Admission |0- yes, 1- no| categorical
GPA | integer | continuous
GRE | integer| continuous
Prestige | 1- School_1, 2- School_2, 3-School_3, 4-School_4, 5-Others | categorical

SyntaxError: invalid syntax (<ipython-input-19-f53216b09fd1>, line 2)

We would like to explore the association between X and Y.

In [17]:
df[['gre','gpa']].head()

         gre   gpa
admit
0      380.0  3.61
1      660.0  3.67
1      800.0  4.00
1      640.0  3.19
0      520.0  2.93

In [16]:
df.corr()

               gre       gpa  prestige
gre       1.000000  0.382408 -0.124533
gpa       0.382408  1.000000 -0.059031
prestige -0.124533 -0.059031  1.000000

> ### Question 6.  What is the outcome?

Answer:

> ### Question 7.  What are the predictors/covariates?

Answer:

> ### Question 8.  What timeframe is this data relevent for?

Answer:

> ### Question 9.  What is the hypothesis?

Answer:

> ### Question 10.  What's the problem statement?

> Using your answers to the above questions, write a well-formed problem statement.

Answer:

## Part C.  Create an exploratory analysis plan by answering the following questions:

Because the answers to these questions haven't yet been covered in class yet, this section is optional.  This is by design.  By having you guess or look around for these answers will help make sense once we cover this material in class.  You will not be penalized for wrong answers but we encourage you to give it a try!

> ### Question 11. What are the goals of the exploratory analysis?

Answer:

> ### Question 12.  What are the assumptions of the distribution of data?

Answer:

> ### Question 13.  How will determine the distribution of your data?

Answer:

> ### Question 14.  How might outliers impact your analysis?

Answer:

> ### Question 15.  How will you test for outliers?

Answer:

> ### Question 16.  What is colinearity?

Answer:

> ### Question 17.  How will you test for covariance?

Answer:

> ### Question 18.  What is your exploratory analysis plan?

> Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis one year from now.

Answer: